.about-page {
  display: flex;
  height: 70vh;
  overflow: hidden; 
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
}

.info-section-about {
  flex: 1;
  padding: 50px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-section-about h2 {
  font-size: 2.5rem;
  color: #333;
}

.info-section-about p {
  font-size: 1.2rem;
  color: #555;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  .about-page {
    flex-direction: column;
    height: auto;
  }

  .image-section, .info-section-about {
    width: 100%;
    height: auto;
  }
}
