.Register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  padding: 0 20px;
  background-color: #f7f7f7; /* Optional: Add a background color */
}

form {
  width: 100%;
  max-width: 400px; /* Ensures the form is centered and doesn't take up too much width */
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow to the form */
}
.Register-form button + button {
  margin-top: 10px; /* Adds space between the buttons */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  margin-bottom: 10px;
}

button {
  width: 100%;
}
